<!DOCTYPE html>
<html>
  <head>
    <title>Idea Catcher | Home</title>
  </head>
  <body>
    <h1>Idea Catcher</h1>
    <p>
      It's real simple... send your idea to idea@beswami.com
		password: idea2011
     
    </p>
  </body>
</html>